
{% extends "home/footerSearch.html" %}
{% load static %}
{% block content %}

<script>
function makeCircle(catagory, festivals, titles, Background, Name, facebook, instagram, youtube, twitter, tumblr, soundcloud, pinterest, website) {
  var prof = document.createElement("IMG");
  prof.setAttribute("src", Background);
  prof.setAttribute("alt", Name + "_festival_backrgound");
  prof.setAttribute("class", "profile");
  prof.setAttribute("width", "200px");

  var festivalLink = document.createElement("A");
  festivalLink.setAttribute("href", "/" + catagory + "/" + Name);
  festivalLink.setAttribute("height", "200px");
  festivalLink.setAttribute("width", "200px");
  festivalLink.appendChild(prof);

  var festivalbtn = document.createElement("div");
  festivalbtn.setAttribute("class", "circles");

  var festivalcontainer = document.createElement("div");
  festivalcontainer.setAttribute("class", "circles_wrapper");
  festivalcontainer.setAttribute("id", Name + "_container");
  festivalcontainer.appendChild(festivalbtn);

  document.getElementById(festivals).appendChild(festivalcontainer);

  var position = 0;

  while(position < 6){
    position += 1;
    if(facebook != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/facebook1.png' %}")

      icon.setAttribute("alt", Name + "_festival_facebook_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", facebook)
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Facebook");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(instagram != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/instagram1.png' %}")

      icon.setAttribute("alt", Name + "_festival_instagram_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", instagram)
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Instagram");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(youtube != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/youtube1.png' %}")

      icon.setAttribute("alt", Name + "_festival_youtube_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", youtube)
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Youtube");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(twitter != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/twitter1.png' %}")

      icon.setAttribute("alt", Name + "_festival_twitter_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", twitter)
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Twitter");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(tumblr != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/tumblr1.png' %}")

      icon.setAttribute("alt", Name + "_festival_tublr_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", tumblr)
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Tumblr");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(soundcloud != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/Soundcloud1.png' %}")

      icon.setAttribute("alt", Name + "_festival_soundcloud_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", soundcloud)
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Soundcloud");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(pinterest != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/pinterest1.png' %}")

      icon.setAttribute("alt", Name + "_festival_pinterest_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", pinterest);
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Pinterest");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(website != "None"){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static 'home/images/SocialMedia/rss1.png' %}")

      icon.setAttribute("alt", Name + "_festival_website_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", website);
      icon_link.setAttribute("class", "social");
      icon_link.setAttribute("target", "_blank");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Website");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    position = 6;
  }

  festivalbtn.appendChild(festivalLink);
}
</script>

<!--  -->

<link rel="stylesheet" href="{% static 'home/css/circles.css' %}" type="text/css"/>

<div class="container_fluid" id="vision">
    <img src="{% static 'home/images/banner.png' %}" id="banner_large">
    <img src="{% static 'home/images/banner.png' %}" id="banner_small" width="900px">
    <img src="{% static 'home/images/banner_phone.png' %}" id="banner_phone" width="340px">

</div>

<div class="Scroll" id="festival_scroll">
  <h1 class="Scroll_title">FESTIVALS</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="festival-append" class="container Scroll-Inner-Circles">
      <script>
          console.log( "{{ link.festival_account.background }}");
        	{% for link in festival_list %}
              makeCircle("festival", "festival-append", "festival-title-append", "{{ link.festival_account.profile.url }}", "{{ link.name }}", "{{ link.festival_account.account_link.facebook }}", "{{ link.festival_account.account_link.instagram }}", "{{ link.festival_account.account_link.youtube }}", "{{ link.festival_account.account_link.twitter }}", "{{ link.festival_account.account_link.tumblr }}", "{{ link.festival_account.account_link.soundcloud }}", "{{ link.festival_account.account_link.pinterest }}", "{{ link.festival_account.account_link.website }}");

        	{% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>

<div class="Scroll" id="scroll_360">
  <h1 class="Scroll_title">MiddleLands</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="highlights" class="container Scroll-Inner-Circles">
      <script>
          {% for obj in highlight_list %}
            var CC = document.createElement("div");
            var contentItem = document.createElement("iframe");
            if("{{ obj.origin }}" == "youtube"){
              contentItem.src = "{{ obj.content_value }}";
            }else{
              contentItem.src = "{{ obj.content_value }}" + "embed";
            }
            contentItem.width="320px";
            contentItem.height="260px";
            contentItem.setAttribute('allowFullScreen', 'true');
            contentItem.className="highlightItem-iframe";
            contentItem.scrolling="no";
            contentItem.allowtransparency="true";
            contentItem.id = "{{ obj.content_id }}";
            CC.appendChild(contentItem);
            CC.id = "{{ obj.content_id }}" + "a";
            CC.className =" highlightItem"


            document.getElementById('highlights').appendChild(CC);

          {% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>



<div class="Scroll" id="artist_scroll">
  <h1 class="Scroll_title">ARTISTS</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="artist-title-append" class="container Scroll-Inner-Titles"></div>
      <div id="artist-append" class="container Scroll-Inner-Circles">
      <script>
        	{% for link in artist_list %}

            makeCircle("artist", "artist-append", "artist-title-append", "{{ link.artist_account.profile.url }}", "{{ link.name }}", "{{ link.artist_account.account_link.facebook }}", "{{ link.artist_account.account_link.instagram }}", "{{ link.artist_account.account_link.youtube }}", "{{ link.artist_account.account_link.twitter }}", "{{ link.artist_account.account_link.tumblr }}", "{{ link.artist_account.account_link.soundcloud }}", "{{ link.artist_account.account_link.pinterest }}", "{{ link.artist_account.account_link.website }}");

        	{% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>



<div class="Scroll" id="photographer_scroll">
  <h1 class="Scroll_title">PHOTOGRAHERS</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="photographer-append" class="container Scroll-Inner-Circles">
      <script>
        	{% for link in photographer_list %}

            makeCircle("photographer", "photographer-append", "photographer-title-append", "{{ link.photographer_account.profile.url }}", "{{ link.name }}", "{{ link.photographer_account.account_link.facebook }}", "{{ link.photographer_account.account_link.instagram }}", "{{ link.photographer_account.account_link.youtube }}", "{{ link.photographer_account.account_link.twitter }}", "{{ link.photographer_account.account_link.tumblr }}", "{{ link.photographer_account.account_link.soundcloud }}", "{{ link.photographer_account.account_link.pinterest }}", "{{ link.photographer_account.account_link.website }}");

        	{% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container" id="social_embed">
    <div class="container col-md-8">
	<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/0298ff82c88455439227ef66b3fae8f2.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
    <div class="container col-md-4 center-block">
	<div style="margin:auto; display: block; max-width: 340px;" class="fb-page" data-href="https://www.facebook.com/afterlivemedia/" data-tabs="timeline" data-height="1500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/afterlivemedia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/afterlivemedia/">After Live</a></blockquote></div>
   </div>
</div>


<!--The email signup-->
<link rel="stylesheet" href="{% static 'home/css/mcemail.css' %}" type="text/css"/>
<div id="mc_embed_signup" class="container">
  <form action="//live.us15.list-manage.com/subscribe/post?u=8a6b69ff560c12d6e8efd5268&amp;id=7edc17f62d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">EARLY ADOPTER?</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_8a6b69ff560c12d6e8efd5268_7edc17f62d" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="JOIN THE FAMILY" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
  </form>
</div>



{% endblock %}
