
{% extends "home/footerSearch.html" %}
{% load static %}
{% block content %}

<script>
function makeCircle(catagory, festivals, titles, Background, Name, facebook, instagram, youtube, twitter, tumblr, soundcloud, pinterest, website) {
  var prof = document.createElement("IMG");
  prof.setAttribute("src", Background);
  prof.setAttribute("alt", Name + "_festival_backrgound");
  prof.setAttribute("class", "profile");
  prof.setAttribute("width", "200px");

  var festivalLink = document.createElement("A");
  festivalLink.setAttribute("href", "/" + catagory + "/" + Name);
  festivalLink.setAttribute("height", "200px");
  festivalLink.setAttribute("width", "200px");
  festivalLink.appendChild(prof);

  var festivalbtn = document.createElement("div");
  festivalbtn.setAttribute("class", "circles");

  var festivalcontainer = document.createElement("div");
  festivalcontainer.setAttribute("class", "circles_wrapper");
  festivalcontainer.setAttribute("id", Name + "_container");
  festivalcontainer.appendChild(festivalbtn);

  document.getElementById(festivals).appendChild(festivalcontainer);

  var position = 0;

  while(position < 6){
    position += 1;
    if(facebook != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\facebook1.png' %}")

      icon.setAttribute("alt", Name + "_festival_facebook_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", facebook)
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Facebook");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(instagram != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\instagram1.png' %}")

      icon.setAttribute("alt", Name + "_festival_instagram_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", instagram)
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Instagram");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(youtube != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\youtube1.png' %}")

      icon.setAttribute("alt", Name + "_festival_youtube_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", youtube)
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Youtube");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(twitter != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\twitter1.png' %}")

      icon.setAttribute("alt", Name + "_festival_twitter_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", twitter)
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Twitter");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(tumblr != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\tumblr1.png' %}")

      icon.setAttribute("alt", Name + "_festival_tublr_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", tumblr)
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Tumblr");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(soundcloud != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\Soundcloud1.png' %}")

      icon.setAttribute("alt", Name + "_festival_soundcloud_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", soundcloud)
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Soundcloud");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(pinterest != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\pinterest1.png' %}")

      icon.setAttribute("alt", Name + "_festival_pinterest_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", pinterest);
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Pinterest");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    if(website != ""){
      var icon = document.createElement("IMG");
      icon.setAttribute("src", "{% static '\home\images\SocialMedia\rss1.png' %}")

      icon.setAttribute("alt", Name + "_festival_website_icon");


      var icon_link = document.createElement("A");
      icon_link.setAttribute("href", website);
      icon_link.setAttribute("class", "social");
      icon_link.appendChild(icon);

      var icon_div = document.createElement("DIV");
      icon_div.setAttribute("id", "Website");
      icon_div.setAttribute("class", "pos" + position);
      icon_div.appendChild(icon_link);

      festivalbtn.appendChild(icon_div);
      position += 1;
    }
    position = 6;
  }

  festivalbtn.appendChild(festivalLink);
}
</script>

<!--  -->

<link rel="stylesheet" href="{% static 'home/css/circles.css' %}" type="text/css"/>

<div class="Scroll" id="festival_scroll">
  <h1 class="Scroll_title">FESTIVALS</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="festival-append" class="container Scroll-Inner-Circles">
      <script>

        	{% for link in festival_list %}
              console.log("{{ link.Background }}" + "  1");
              makeCircle("festival", "festival-append", "festival-title-append", "{{ link.Logo }}", "{{ link.Name }}", "{{ link.LinkID.Facebook }}", "{{ link.LinkID.Instagram }}", "{{ link.LinkID.Youtube }}", "{{ link.LinkID.Twitter }}", "{{ link.LinkID.Tumblr }}", "{{ link.LinkID.Soundcloud }}", "{{ link.LinkID.Pinterest }}", "{{ link.LinkID.Website }}");

        	{% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>

<div class="Scroll" id="photographer_scroll">
  <h1 class="Scroll_title">PHOTOGRAHERS</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="photographer-append" class="container Scroll-Inner-Circles">
      <script>
        	{% for link in photographer_list %}

            makeCircle("photographer", "photographer-append", "photographer-title-append", "{{ link.Background }}", "{{ link.Name }}", "{{ link.LinkID.Facebook }}", "{{ link.LinkID.Instagram }}", "{{ link.LinkID.Youtube }}", "{{ link.LinkID.Twitter }}", "{{ link.LinkID.Tumblr }}", "{{ link.LinkID.Soundcloud }}", "{{ link.LinkID.Pinterest }}", "{{ link.LinkID.Website }}");

        	{% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>

<div class="Scroll" id="artist_scroll">
  <h1 class="Scroll_title">ARTISTS</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="artist-title-append" class="container Scroll-Inner-Titles"></div>
      <div id="artist-append" class="container Scroll-Inner-Circles">
      <script>
        	{% for link in artist_list %}

            makeCircle("artist", "artist-append", "artist-title-append", "{{ link.Background }}", "{{ link.Name }}", "{{ link.LinkID.Facebook }}", "{{ link.LinkID.Instagram }}", "{{ link.LinkID.Youtube }}", "{{ link.LinkID.Twitter }}", "{{ link.LinkID.Tumblr }}", "{{ link.LinkID.Soundcloud }}", "{{ link.LinkID.Pinterest }}", "{{ link.LinkID.Website }}");

        	{% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>

<!--The email signup-->
<link rel="stylesheet" href="{% static 'home/css/mcemail.css' %}" type="text/css"/>
<div id="mc_embed_signup" class="container">
  <form action="//live.us15.list-manage.com/subscribe/post?u=8a6b69ff560c12d6e8efd5268&amp;id=7edc17f62d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">EARLY ADOPTER?</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_8a6b69ff560c12d6e8efd5268_7edc17f62d" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="JOIN THE FAMILY" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
  </form>
</div>



{% endblock %}
