{% extends "home/footer.html" %}
{% load static %}
{% block content %}


<div class="detail_header container-fluid" style="background-image: url('{{ a.festival_account.background }}')">
  <div class="detail_content container">
    <div class="col-md-4 container"><img class="detail_logo" src="{{ a.festival_account.profile }}"></div>
  </div>
</div>


<div class="detail_nav">
  <ul class="center detail_catagories col-md-6">
    <li class="dropdown">
      <a href="#" class="dropbtn">Artists</a>
      <div class="dropdown-content" id="festival_artist">
      </div>
      <script>
      {% for artist in artist_list %}
        console.log("{{ artist.a.name }}");
        var artist_tag = document.createElement("a");
        artist_tag.innerHTML = artist_tag.innerHTML + "{{ artist.a.name }}";
        var menu = document.getElementById("festival_artist");
        menu.appendChild(artist_tag);
      {% endfor %}
      </script>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Culture</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">People</a>
      <div class="dropdown-content" >
      </div>

    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Photographers</a>
      <div class="dropdown-content" id="festival_photographer">
        <a href="#">Did You shoot for this festival???</a>
      </div>
      <script>
      {% for photographer in photographer_list %}
        console.log("{{ photographer.a.name }}");
        var artist_tag = document.createElement("a");
        artist_tag.innerHTML = artist_tag.innerHTML + "{{ photographer.a.name }}";
        var menu = document.getElementById("festival_photographer");
        menu.appendChild(artist_tag);
      {% endfor %}
      </script>
    </li>
  </ul>

  <ul class="detail_socials " id="detail_socials">
    <script>
    var position = 0;
    var detail_socials = document.getElementById('detail_socials');
    while(position < 6){
      position += 1;
      if("{{ a.LinkID.Facebook }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\facebook1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_facebook_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.facebook }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Facebook");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Instagram }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\instagram1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_instagram_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.instagram }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Instagram");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Youtube }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\youtube1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_youtube_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.youtube }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Youtube");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Twitter }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\twitter1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_twitter_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.twitter }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Twitter");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Tumblr }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\tumblr1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_tumblr_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.tumblr }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "tumblr");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Soundcloud }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\soundcloud1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_soundcloud_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.soundcloud }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Soundcloud");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Pinterest }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\pinterest1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_pinterest_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.pinterest }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Pinterest");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }
      if("{{ a.LinkID.Website }}" != ""){
        console.log("dude");
        var icon = document.createElement("IMG");
        icon.setAttribute("src", "{% static '\home\images\SocialMedia\rss1.png' %}");
        icon.setAttribute("alt", "{{ a.name }}" + "_festival_website_icon");

        var icon_link = document.createElement("A");
        icon_link.setAttribute("href", "{{ a.festival_account.account_link.website }}")
        icon_link.setAttribute("class", "social");
        icon_link.appendChild(icon);

        var icon_div = document.createElement("li");
        icon_div.setAttribute("id", "Website");
        icon_div.setAttribute("class", "pos" + position);
        icon_div.appendChild(icon_link);

        detail_socials.appendChild(icon_div);
        position += 1;
      }

    }
    </script>
  </ul>
</div>

<div id="detail_container" class="container">
</div>
<script>
  {% for post in content_list %}
      var CC = document.createElement("div");
      var contentItem = document.createElement("iframe");
      if("{{ post.origin }}" == "youtube"){
        contentItem.src = "{{ post.content_value }}";
      }else{
        contentItem.src = "{{ post.content_value }}" + "embed";
      }
      contentItem.width="320px";
      contentItem.height="260px";
      contentItem.setAttribute('allowFullScreen', 'true');
      contentItem.className="contentItem-iframe center-block";
      contentItem.scrolling="no";
      contentItem.allowtransparency="true";
      contentItem.id = "{{ post.content_id }}";
      CC.appendChild(contentItem);
      CC.id = "{{ post.content_id }}" + "a";
      CC.className ="col-sm-6 col-md-4 contentItem"


      document.getElementById('detail_container').appendChild(CC);
  {% endfor %}
</script>


<div class="pagination container center-block">
    <span class="step-links">
        {% if content_list.has_previous %}
              <a href="?page={{ content_list.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% endif %}

        <span class="current">
            Page {{ content_list.number }} of {{ content_list.paginator.num_pages }}
        </span>

        {% if content_list.has_next %}
            <a href="?page={{ content_list.next_page_number }}"><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
    </span>
</div>
{% endblock %}
