{% extends "home/main.html" %}
{% load static %}
{% block content %}

<section id="intro">
  <div class="intro-image">
    <!--<img src="{% static 'assets/images/orah.png' %}">-->
        <main id="box">
			<div id="layer">
				<div class="orah">
                  <img src="{% static 'assets/images/orah.png' %}">
				</div>
			</div>
		</main>
  </div>
  <div class="intro-header">
    <h1>We Make 360 Degree Videos</h1>
  </div>
  <div class="intro-cta">
      <a href="/home/qoute/" class="btn">Want One?</a>
  </div>
  <div class="intro-image-sm">
    <img src="{% static 'assets/images/orah.png' %}">
  </div>
</section>

<style>

</style>
<script>

</script>


<section class="gallery" id="gallery">
  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/XsfotjMMRaY" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/jT9AGVAsim4" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/hVVBqertx6c" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/eU_DT4n_m7o" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/ii73Aoubt0I" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="cta">
  <div class="btn">
    <a href="/search">Watch More</a>
  </div>
  <div class="btn">
    <a href="/home/qoute">Hire Us</a>
  </div>
</section>


{% endblock %}
