{% extends "home/main.html" %}
{% load static %}
{% block content %}

<!-- <img class="record" id="record-1" src="{% static 'assets/images/record.png' %}">
<img class="record" id="record-2" src="{% static 'assets/images/record.png' %}">
<img class="record" id="record-3" src="{% static 'assets/images/record.png' %}">
<img class="record" id="record-4" src="{% static 'assets/images/record.png' %}"> -->
<section id="intro">

</section>

<section class="gallery">
  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/XsfotjMMRaY" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/jT9AGVAsim4" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/hVVBqertx6c" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/eU_DT4n_m7o" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <iframe class="shadow" width="560" height="315" src="https://www.youtube.com/embed/ii73Aoubt0I" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="cta">
  <div class="btn">
    <a href="/search">Watch More</a>
  </div>
  <div class="btn">
    <a href="/home/qoute">Hire Us</a>
  </div>
</section>


{% endblock %}
