{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Josh Hoeg">

    <title>After Live</title>

    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


    <!--scrollbar default styling-->
    <style>
      ::-webkit-scrollbar{height: 6px;width: 6px;margin: 0;}
      ::-webkit-scrollbar-track{background: #ffffff;}
      ::-webkit-scrollbar-thumb{background: #e21818;}
      a:link {text-decoration: none; color: #ffffff;}
      a:visited {text-decoration: none; color: #ffffff;}
      a:hover {text-decoration: none; color: #ffffff;}
      a:active {text-decoration: none; color: #ffffff;}
    </style>

  </head>
  <body class="nav-no-scroll">

    <div id="load_screen">
      <div id="loading-wrapper"><div id="loading"></div></div>
    </div>

    <nav class="navbar nav-header">
      <div class="nav">
        <a class="navbar-brand" href="/">
          <img src="{% static 'assets\images\logo.png' %}" width="80" height="80" alt="">
        </a>
      </div>
      <div id="nav-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <div id="nav-dropdown-addon"></div>
    <div id="nav-dropdown">
      <ul class="nav-links">
        <li><a href="/home/qoute">Hire Us</a></li>
        <li><a href="/search">2D Videos</a></li>
      </ul>
      <ul class="nav-socials">
        <li><a href="https://www.facebook.com/afterlivemedia/" target="_blank"><img src="{% static 'assets/images/socials/facebook.png' %}" alt="_social_icon"></a></li>
        <li><a href="https://www.youtube.com/channel/UCs0NRsgac484mhpDO1pnuOQ" target="_blank"><img src="{% static 'assets/images/socials/youtube.png' %}" alt="_social_icon"></a></li>
        <li><a href="https://www.instagram.com/afterlivemedia/" target="_blank"><img src="{% static 'assets/images/socials/instagram.png' %}" alt="_social_icon"></a></li>
      </ul>
    </div>


    {% block content %}

    {% endblock %}


    <nav class="navbar nav-footer">
      <a class="navbar-brand" href="#">
        <img src="{% static 'assets\images\logo.png' %}" width="80" height="80" alt="">
      </a>
    </nav>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>
