{% extends "home/footer.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" id="search_wrapper">
  <div class="search container">
    <img src="{% static 'home/images/join.png' %}" alt="SearchAgain" class="center-block" height="300px">
    <div class="form-container container search-form" id="mainsearch">
      <form class="center searchForm" name="myForm" autocomplete="off" method="GET" action="/search/">
        <input id="searchBar" name="q" type="text" class=" col-xs-12 searchBar" placeholder="Search for your favorite set..." style="opacity:1 !important" />
        <button id="searchBar_Submit" type="submit" ><img  class="center-block" src="{% static 'home/images/search.png' %}" height="40px"></button>
      </form>
    </div>
  </div>
</div>

<div class="Scroll" id="scroll_360">
  <h1 class="Scroll_title">The Highlight Reel</h1>
  <div class="Scroll-Outer center-block">
    <div class="Scroll-Inner">
      <div id="highlights" class="container Scroll-Inner-Circles">
      <script>
          {% for obj in highlight_list %}
            console.log("{{ obj.content_type }}" + "  1");

            var CC = document.createElement("div");
            var contentItem = document.createElement("iframe");
            if("{{ obj.origin }}" == "youtube"){
              contentItem.src = "{{ obj.content_value }}";
            }else{
              contentItem.src = "{{ obj.content_value }}" + "embed";
            }
            contentItem.width="320px";
            contentItem.height="260px";
            contentItem.setAttribute('allowFullScreen', 'true');
            contentItem.className="highlightItem-iframe";
            contentItem.scrolling="no";
            contentItem.allowtransparency="true";
            contentItem.id = "{{ obj.content_id }}";
            CC.appendChild(contentItem);
            CC.id = "{{ obj.content_id }}" + "a";
            CC.className =" highlightItem"


            document.getElementById('highlights').appendChild(CC);


            // makeCircle("360-append", "360-title-append", "{{ link.Background }}", "{{ link.Name }}", "{{ link.LinkID.Facebook }}", "{{ link.LinkID.Instagram }}", "{{ link.LinkID.Youtube }}", "{{ link.LinkID.Twitter }}", "{{ link.LinkID.Tumblr }}", "{{ link.LinkID.Soundcloud }}", "{{ link.LinkID.Pinterest }}", "{{ link.LinkID.Website }}");

          {% endfor %}
        </script>
      </div>
    </div>
  </div>
</div>

<!--The email signup-->
<link rel="stylesheet" href="{% static 'home/css/mcemail.css' %}" type="text/css"/>
<div id="mc_embed_signup" class="container">
  <form action="//live.us15.list-manage.com/subscribe/post?u=8a6b69ff560c12d6e8efd5268&amp;id=7edc17f62d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">EARLY ADOPTER?</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_8a6b69ff560c12d6e8efd5268_7edc17f62d" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="JOIN THE FAMILY" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
  </form>
</div>
{% endblock %}
