/*----------------------------------------------------------------------------
@author Josh Hoeg


The styles man......
Aite so all this code is currently the main cascading style sheet for the whole
website. That can get pretty complicated so I have tried to split it up into
sections and then split those sections up into sections, and then those sections
into even more sections. I will eventually turn each section into their own
page... maybe....

Well lets get into it:
Section 1 === Header.html
Section 2 === Home.html
Section 3 === Search.html



Section 1 === Home.html template and other webpage default styling
Section 2 === header.html template and any other styling related to search function
section 3 === Search.html template and any styling for the search content
section 4 === contact.html template and all styling related to the contact app
section 5 === terms.html template and any css related to the terms of service


--------------------------------------------------------------------------------
SECTION 1 - Default/ home.html
--------------------------------------------------------------------------------
---------------------------------------------------------------defult-styling*/
html{
  height: 100%;
  box-sizing: border-box;
}
html body{
  background-color: #000000;
  font-family: 'Rajdhani', sans-serif;
  font-weight: lighter;
}
.page-wrapper {
	min-height:100%;
	position:relative;
}
#body1{
  background-image: url('/static/home/images/Background.png');
  background-size: cover;
}
.inner-body{
  padding-top: 0px;
  padding-bottom: 50px;
  min-height: 100%;
}
@media screen and (max-width: 624px){
  html .inner-body{
    padding-top: 0px;
  }
}
h1{
  color: #e21818;
}
h3{
  color: #afafaf;
  font-weight: bold;
}
h4{
  color: #afafaf;
  font-weight: bold;
}
p{
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
}
li{
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
}
/*------------------------------------------------------------------------------
page loading style
------------------------------------------------------------------------------*/
#load_screen{
  background: #000000;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
#load_screen h1{
  color: #e21818;
}
#loading{
  background: #e21818;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 300px auto 100px auto;
  animation: fader 2s linear infinite;
}
@media screen and (max-width: 624px){
  #loading{
    margin: 200px auto 100px auto;
  }
}
@keyframes fader {
    0% { opacity: 0;}
    50% { opacity: 0.7; }
    100% { opacity: 0;}
}








/*-----------------------------------------------------------------------------
--------------------------------HEADER-----------------------------------------
-----------------------------------------------------------------------------*/
/*Logo and base header styling*/
.logo{
  padding: 15px;
  text-align: center;
  float: left;
}
#header_wrapper{
  padding:0px;
}
#header_wrapper #header{
  background: #000000;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin: 0;
}
#nav_menu{
  background: none;
  float: right;
  margin: 9px 9px 9px 0;
}

/*The styling for the popup search model*/
.modal-header .close{
  color: #000000;
}
.modal .modal-content{
  background: rgba(0, 0, 0, 0.75);
}
.modal-body{
  height: 75px;
}

/*styling for the actual search widget in the popup model*/
#searchwidget{
  width: 100%;
  float: none;
  margin-top: 10px;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
  padding: 0 !important;
  overflow: hidden;
  background: #ffffff;
}
#searchBar{
  display: inline-block;
  border: none;
  float: left;
  background: rgba(255, 0, 0, 0.0);
  height: 50px;
  color: #000000;
  font-size: 20px;
}
#searchBar_Submit{
  display: inline-block;
  float: right;
  background: rgba(226, 24, 24, 1);
  border: none;
  height: 50px;
  padding: 0;
}
#searchwidget #searchBar{width: 85%; height: 40px;}
#searchwidget #searchBar_Submit{width: 15%; height: 40px; }

/*default settings for all browsers*/
#searchwidget #searchBar::-webkit-input-placeholder {color: #000;}
#searchwidget #searchBar::-moz-placeholder {color: #000;}
#searchwidget #searchBar:-ms-input-placeholder {color: #000;}

/*screen size changes that need to happen for sexy styling*/
@media screen  and (min-width: 768px){
  #nav_menu {
    display: none !important;
  }
}
@media screen  and (max-width: 768px){
  .logo{
    float: none;
  }
  .logo img{
    height: 28px;
  }
}










/*--------------------------------------------------------------------footer*/
.footer{
  background-color: #000000;
  border-top: 1px solid #ffffff;
  text-align: center;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.footer a{
  color: #fff;
  padding: 10px;
}
.footer div{
  padding-top: 10px;
}
#footer1{
  position: relative;
}
#footer2{
  position: fixed;
}


/*------------------------------------------------------------------------------
Main Page Styling
------------------------------------------------------------------------------*/


/*highlights ifram styling*/
#social_embed{
  padding-top: 30px;

}
#scroll_360 .Scroll-Outer{
  height: 320px;

}
#highlights iframe{
  margin-top: 8px;
  max-width: 100%;
  border: 4px solid rgba(0,0,0,0);
  border-radius: 25px;
}
#highlights iframe:hover{
  border: 2px solid rgba(0,0,0,0);
}
.highlightItem{
  display: inline-block;
  margin: 20px;
}
@media screen and (max-width: 990px){
  #highlights iframe{
    height: 240px;
    border-radius: 25px;
  }
}

/*------------------------------------------------------------mission_wrapper*/
#mission_wrapper{
  padding: 0;
  margin: 0;
  background-image: url("mission.png");
  background-size: cover;
}

@media screen and (max-width: 500px){
  #mission{
    padding-top: 200px !important;
  }
}
@media screen and (max-width: 980px){
  #mission{
    padding-top: 300px;
  }
}
@media screen and (min-width: 980px){
  #mission{
    padding-top: 600px;
  }
}

/*-----------------------------------------------------------------------------
SECTION 3 - we made it to search.html
------------------------------------------------------------------------------*/
/*-------------------------------------------------------------My-container*/
.my-container {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#vision{
  text-align: center;
}
#vision h1{
  color: #000000;
}
#vision #banner_phone{
  display: none;
}
#vision #banner_small{
  display: none;
}
#vision img{
  margin: auto;
}
@media screen  and (max-width: 1300px){
  #vision #banner_small{
    display: block;
  }
  #vision #banner_large{
    display: none;
  }
}
@media screen  and (max-width: 900px){
  #vision #banner_large{
    display: none;
  }
  #vision #banner_phone{
    display: block;
  }
  #vision #banner_small{
    display: none;
  }
}

/*------------------------------------------------scroll-festival-photographer*/
.Scroll_title{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #000000;
  background: -webkit-linear-gradient(-90deg, #000000, #e21818, #000000);
  background: -o-linear-gradient(-90deg, #000000, #e21818, #000000);
  background: -moz-linear-gradient(-90deg, #000000, #e21818, #000000);
  background: linear-gradient(-90deg, #000000, #e21818, #000000);
}
.Scroll-Outer{
  overflow: auto;
  margin-top: 0px !important;
  padding: 20px;
  width: 85%;
  height: 280px;
  background: #000000;
  padding: 0;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(-90deg, #000000, #353535, #000000);
  background: -o-linear-gradient(-90deg, #000000, #353535, #000000);
  background: -moz-linear-gradient(-90deg, #000000, #353535, #000000);
  background: linear-gradient(-90deg, #000000, #353535, #000000);
}
body .Scroll-Inner-Circles{
  max-height: 300px;
  width: 3900px;
  overflow: hidden;
}
.cricles_wrapper{
  display: inline;
  padding: 30px;
  opacity: .5;
}
.Scroll_Content_Box{
    display: inline-block;
      position: relative;
}
@media screen  and (max-width: 624px){

}

/*-----------------------------------------------------------------Detail nav*/
.detail_header{
  background-size: cover;
  height: 500px;
  text-align: center;
}
.detail_content{
  padding-top: 100px;
}
.detail_logo{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  padding: 0;
}


.detail_nav{
    background: rgba(226, 24, 24, 0.75);
    text-align: center;
}
.detail_nav ul {
    list-style-type: none;
    margin: auto;
    height: 52px;
    display: block;
}
.detail_nav li {
    float: left;
}
.detail_nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 23px;
}
.detail_nav li:hover {
    background-color: rgba(226, 24, 24, 0.6);
}
.detail_nav li.dropdown {
    display: inline-block;
}
.detail_nav .dropdown-content a{
  font-size: 16px;
  padding: 6px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    background-color: rgba(226, 24, 24, 0.8);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.detail_socials img{
  height: 32px;
  width: 32px;
}
.detail_socials li{
  float: right;
}

#detail_container{
  padding-top: 20px;
}

#tag_wrapper{
  padding-top: 30px;
  text-align: right;
}
#tag_name{
  color: #ffffff;
  display: inline;
  font-size: 28px;
}
#back_tag_link{
  font-size: 20px;
}






/*-------------------------------------------------------------Detail content*/
.contentItem{
  padding: 10px;
}
.contentItem iframe{
  max-width: 100%;
  height: 350px;
  border: 4px solid #000000;
  border-radius: 25px;
}
.contentItem iframe:hover{
  border: 4px solid #000000;
}
@media screen and (max-width: 990px){
  .contentItem iframe{
    height: 378px;
  }
}

.pagination{
  text-align: center;
}
.pagination span{
  font-size: 24px;
  color: #fff;
}

/*----------------------------------------------------------------------tags*/
.tagbtn{
  visibility: visible;
  color: #000;
  margin-left: 3px;
  margin-right: 3px;
  float: left;
  background-color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
.tag-scroll-container{
  /*display: none;*/
}
.tag-scroll-container .tag-container{
  overflow: auto;
  padding: 10px;
  width: 85%;
}
.tags{
  max-height: 40px;
  width: 5000px;
  overflow: auto;
}
.tag-container, .tag-container .tags{
  transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
.move-icon{
  font-size: 35px;
  padding-top: 17px;
  cursor: pointer;
}
.move-icon span{
  color: #e21818;
}

/*------------------------------------------------------------------selected*/
.selected{
  background-color: #e21818;
  color: #fff;
}
.selected-tags{
  padding: 10px;
}
.selected-tags-container{
  border-bottom: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  display: none;
}
.selected-tags-container h1{
  color: #ffffff;
}
#selected-tags-title{
  padding-top: 10px;
}
#selected-tags-title h1{
margin: 0 auto;
}
#clearAll{
  visibility: visible;
  background-color: #e21818;
  color: #fff;
  margin-left: 3px;
  margin-right: 3px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
/*------------------------------------------------------------------media css*/
@media screen  and (max-width: 624px){
  .searchIcon-container{
    display: none;
  }
  .move-icon{
    display: none;
  }
  .my-container h3{
    font-size: 36px;
  }
  .my-container .ICON-D{
    display:inline-block;
    padding: 3px;
    position: fixed;
  }
}


/*-----------------------------------------------------------------------------
SECTION 4 - contact.html/submitted.html
-----------------------------------------------------------------------------*/
.contact-Container h1{
  color: #e21818;
  text-align: left;
}
.contact-Container h2{
  color: #ffffff;
}

.contact-Container{
  border-top: 1px solid #afafaf;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.contactCall{
  padding-top: 3%;
}
.contact-Container form p{
  color: #000000;
  border-radius: 25px;
}
.contact-Container form label{
  color: #ffffff;
  display: block;
}
.contact-Container form button{
  visibility: visible;
  color: #ffffff;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #e21818;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  width: 16%;
}
.contact-Container form input{
  width: 20%;
  border-radius: 20px;
  text-align: center;
  background: #474646;
  border-color: #000000;
}
.contact-Container form textarea{
  width: 60%;
  border-radius: 20px;
  text-align: center;
  background: #474646;
  border-color: #000000;
}
@media screen and (max-width: 990px){
  .contact-Container{
    padding-left: 10%;
    padding-right: 10%;
  }
  .contact-Container form textarea{
    width: 90%;
  }
  .contact-Container form input{
    width: 90%;
  }
  .contact-Container form button{
    width: 24%;
  }
}


/*----------------------------------------------------------------------------
SECTION 5 - terms.html
------------------------------------------------------------------------------
*/
.TOS-Container{
  border-top: 1px solid #afafaf;
}
.TOS-Container h1{
  color: #e21818;
}
.TOS-Container h3{
  color: #afafaf;
  font-weight: bold;
}

/*----------------------------------------------------------------------------
SECTION 6 - Detail.html
------------------------------------------------------------------------------
*/
.logo-container{
  padding-top: 10px;
}
.logo-container img{
  display: block;
  margin: auto;
}
.Festival-Content-Selection{
  text-align: center;
  margin-top: 20px;
}
.Festival-Content-Selection .td-1{
    background-color: #606060;
}
.Festival-Content-Selection .td-2{
    background-color: #474646;
}
.Festival-Content-Selection td{
  padding: 15px;
}
.Festival-Content-Selection td:hover{
  background-color: #b7b7b7;
}
